.box{
    width:100px;
    height: 100px;
    background-color: red;
    animation-name: animationName;
}

@keyframes animationName {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(300px);
    }
}