.box{
    width:100px;
    height: 100px;
    background-color: red;
    animation: animationName 2s linear infinite forwards;
    /*
    animation: name time function delay iteration direction
    */
}

@keyframes animationName {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(600px);
    }
}
