*{
    padding: 0;
    margin: 0;
}
.horizon-outer{
    width: 100%;
    height: 50vh;
    background-color: skyblue;
    position: relative;
    overflow: hidden;
}
.road-outer{
    width: 100%;
    height: 35vh;
    background-color: #5c666b;
    display: flex;
    align-items: center;
    position: relative;
}
.line{
    border: 10px dashed white;
    width: 100%;
}
.bottom-outer{
    width: 100%;
    height: 15vh;
    background-color: #ffeaa7;
    position: relative;
}
.man-1{
    width: 150px;
    position: absolute;
    top: -80px;
}
.man-2{
    width: 150px;
    position: absolute;
    top: -80px;
    transform: scaleX(-1);
    right: 10px;
}
.car{
    width: 200px;
    position: absolute;
    right: 80px;
}
.cloud{
    position: absolute;
    height: 80px;
    right: -200px;
}
.cloud-1{
    animation: cloudAnimation 10s infinite linear;
}
.cloud-2{
    animation: cloudAnimation 20s infinite linear;
    top: 80px;
}
.cloud-3{
    animation: cloudAnimation 30s infinite linear;
    top: 50px;
}
@keyframes cloudAnimation {
    from{
        right: -200px;
    }
    to{
        right: 1500px;
    }
}