*{
    padding: 0;
    margin: 0;
}
.horizon-outer{
    width: 100%;
    height: 50vh;
    background-color: skyblue;
}
.road-outer{
    width: 100%;
    height: 35vh;
    background-color: #5c666b;
    display: flex;
    align-items: center;
}
.line{
    border: 10px dashed white;
    width: 100%;
}
.bottom-outer{
    width: 100%;
    height: 15vh;
    background-color: #ffeaa7;
}